h3{
    margin-top: 5%;
   
}

hr{
    margin-bottom: 5%;
}

button{
    float: right;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
}

small{
    margin-bottom: 1%;
}
textarea{
    margin-left: 2%;
}