<div class="container">
    <br>
    <h2>Noticia Urgente</h2>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="statusClassN" (click)="elegirTipNoticia('n')">Noticia Nacional</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="statusClassL" (click)="elegirTipNoticia('l')">Noticial Local</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">

            <app-noticia [noticiaNacional]="noticiaNacional" [noticiaUrgente]="noticiaUrgente"></app-noticia>
        </div>
    </div>

</div>