ul {
    margin-top: 25%;
    margin-left: 6%;
}

h2 {
    font-weight: bold;
    color: rgb(11, 77, 162) !important;
}
a:hover{
    font-weight: bold;
 }
.active{
    font-weight: bold;
}
.not-active{
    font-weight:normal;
}