html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    margin-bottom: 40px;
}

.principalContainer {
    height: auto;
    background-color: #E8EFF9;
    margin-right: 10px;
    margin-left: 10px;
    width: auto;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.footer {
    margin-left: 15% !important;
    margin-right: 15% !important;
    margin-bottom: 10px;
    background-color: transparent;
    font-size: smaller;
    color: gray;
    position: absolute;
    bottom: 0px;
    align-content: center;
}

.container {
    height: 100%;
}

.color {
    height: 100%;
    background-color: #DAE9FC;
    align-content: center;
    width: auto;
}

span {
    align-content: center;
}