.navbar-collapse {
    margin-left: 10%;
}

.navbarColorTelcel {
    background-color: rgb(11, 77, 162) !important;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.color {
    background-color: #E8EFF9;
    margin-right: 10px;
    margin-left: 10px;
    width: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.navabarColorUNO {
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-bottom-color: black;
}

.navbarTelcel {
    color: white;
    margin-left: auto;
}
.active-link{
  font-weight: bold;
}