<nav class="navbar navbar-expand-lg navbar-light bg-light navbarColorTelcel">
    <a class="navbar-brand" routerLink="noticiaRegular"><img src="assets/images/telcel_logo.png" class="img"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
        <div class="navbar-nav navbarTelcel">
            <button type="button" class="btn navbarTelcel">México D.F., {{date | date:'mediumDate'}}</button>
            <button class="btn btn-link navbarTelcel" routerLink="ayuda">| Ayuda<span class="sr-only">(current)</span></button>
            <button *ngIf="localStorageAttribute && nuevoUsuario" type="button" class="btn btn-link navbarTelcel" routerLink="administracion">| Administrar</button>
            <button *ngIf="localStorageAttribute" type="button" (click)="logOut()" class="btn btn-link navbarTelcel">| Salir</button>
        </div>
    </div>
</nav>
<div class="container color">
    <br>
    <nav *ngIf="localStorageAttribute" class="navbar navbar-expand-lg navbar-light bg-light navabarColorUNO ">
        <a class="navbar-brand" routerLink="noticiaRegular"><img src="assets/images/UnoTV.jpg" class="img"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a *ngIf="agregarNoticia" class="nav-item nav-link active" routerLink="NoticiaRegular">Noticia Regular<span class="sr-only">(current)</span></a>
                <a *ngIf="agregarNoticia" class="nav-item nav-link" routerLink="NoticiaUrgente">Noticia Urgente</a>
                <a *ngIf="estadisticasReportes" class="nav-item nav-link" routerLink="smsc">Reportes y Estadisticas</a>
                <a *ngIf="historico" class="nav-item nav-link" routerLink="Historico">Historico de Noticias</a>
                <a *ngIf="detenerEnvio" class="nav-item nav-link" href="#">Envio</a>
            </div>
        </div>
    </nav>
</div>